<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package Tracker</title>
</head>
<body>
    <div>
        {% if not current_user.is_anonymous %}
        <a href="/">Track Packages</a>
        <a href="/new_package">New Package</a>
        <form method="POST" action="{{url_for('.logout')}}">
            <button>Logout</button>
        </form>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>
