{% extends "base.html" %}

{% block content %}
<h2>Your Packages</h2>
<h3>Filter by origin city</h3>
{% for city in cities %}
    <a href="/cities/{{city}}">{{city}}</a>
{% endfor %}
<table>
    <thead>
        <th>ID</th>
        <th>Sender Name</th>
        <th>Recipient Name</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Current Location</th>
        <th>Delete Package</th>
    </thead>
    <tbody>
        {% for package in packages %}
        <tr>
            <td>{{package.id}}</td>
            <td>{{package.sender}}</td>
            <td>{{package.recipient}}</td>
            <td>{{package.origin}}</td>
            <td>{{package.destination}}</td>
            <td>{{package.location}}</td>
            <td>
                <form action="/delete/{{package.id}}" method="post">
                    <button type="submit">X</button>
                <form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
